@charset "UTF-8";

body{
    background-color: black;
    counter-reset: white;
}

p, h1, h2{
    color: white;
}

.paragrafo{
    color: white;
}

.linha1{
    display: flex;
}
.linha2{
    display: flex;
}

#botao_livro1{
    background-color: black;
    cursor: pointer;
    color: white;
}
#botao_livro1:hover{
    background-color: silver;
    color: black;
}
#botao_livro3_linha2{
    background-color: black;
    cursor: pointer;
    color: white;
    margin-top:7px;
}
#botao_livro3_linha2:hover{
    background-color: silver;
    color: black;
}